@{
    ViewBag.Title = "Index";
}
<div id="sub-header">
	<div class="chunk">
		<div class="sub-header-title">
						<h2 class="forum-title"><a href="./viewforum.php?style=6&amp;f=2&amp;sid=33c7bf04e121ab68179c7d40f620857b">Informations</a></h2>
									<div>
							</div>
					</div>
					<div class="sub-header-buttons">
				
									<a href="/news/submitpost" class="button icon-button post-icon" title="Post a new topic">
						<i class="fa fa-pencil"></i><span>New Topic</span>					</a>
				
							</div>
			</div>
</div>
<div id="mbrs" class="background-main">
	<div class="viewforum-main">
	<div class="chunk">

		<ul id="breadcrumbs-mid" class="re-md bread-normal"><li><a href="./index.php?style=6&amp;sid=33c7bf04e121ab68179c7d40f620857b" accesskey="h" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-navbar-reference="index">Board index</a></li><li><a href="./viewforum.php?style=6&amp;f=1&amp;sid=33c7bf04e121ab68179c7d40f620857b" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="1">Main</a></li><li><a href="./viewforum.php?style=6&amp;f=2&amp;sid=33c7bf04e121ab68179c7d40f620857b" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="" data-forum-id="2">Informations</a></li></ul>

		
					<div class="action-bar-top-nb">

				<div class="pagination">
					1 topic
				</div>

									<div>
						<a class="button-round" data-toggle="dropdown" href="./search.php?style=6&amp;sid=33c7bf04e121ab68179c7d40f620857b"><i class="fa fa-search"></i></a>
						<div class="dropdown-search">
							<form method="get" id="forum-search" action="./search.php?style=6&amp;sid=33c7bf04e121ab68179c7d40f620857b">
								<fieldset>
									<button type="submit" title="Search"><i class="fa fa-search"></i></button><div><input type="search" name="keywords" id="search_keywords" size="20" placeholder="Search this forum…" /></div>
									<input type="hidden" name="fid[0]" value="2" />
<input type="hidden" name="sid" value="33c7bf04e121ab68179c7d40f620857b" />
<input type="hidden" name="style" value="6" />

								</fieldset>
							</form>
						</div>	
					</div><div>
						<span class="button-round" data-toggle="dropdown"><i class="fa fa-filter"></i></span>
						<div class="dropdown-box-big">
							<form method="post" action="./viewforum.php?style=6&amp;f=2&amp;sid=33c7bf04e121ab68179c7d40f620857b">
								<fieldset>
									<div class="dropdown-header"><h5>Display topics from previous</h5></div>
									<div class="dropdown-body"><select name="st" id="st"><option value="0" selected="selected">All Topics</option><option value="1">1 day</option><option value="7">7 days</option><option value="14">2 weeks</option><option value="30">1 month</option><option value="90">3 months</option><option value="180">6 months</option><option value="365">1 year</option></select></div>
									<div class="dropdown-header"><h5>Sort by</h5></div>
									<div class="dropdown-body">
										<select name="sk" id="sk"><option value="a">Author</option><option value="t" selected="selected">Post time</option><option value="r">Replies</option><option value="s">Subject</option><option value="v">Views</option></select><select name="sd" id="sd"><option value="a">Ascending</option><option value="d" selected="selected">Descending</option></select>
									</div>
									<div class="dropdown-footer"><input type="submit" name="sort" value="Go" /></div>
								</fieldset>
							</form>
						</div>
					</div>
				
			</div>
			</div>

	<div class="chunk">
	<div class="content-main">
	<div class="content-main-inner">

		
		
	
	<ol id="topics-wrap">

		
			
						<li class="forum-bg">
				<h3>
											Announcements
									</h3>
				<ol>
			
				
				<li class="row global-announce">
										<div class="topic-icon global_read" title="No unread posts"><div></div></div>
					<div class="topic-description">
						<div class="topic-description-inner">
														<h4><a href="./viewtopic.php?style=6&amp;f=2&amp;t=2&amp;sid=33c7bf04e121ab68179c7d40f620857b" class="topictitle" title="View topic">Welcome</a></h4><div class="re-sm topic-stats-sm">0 Replies 40325 Views</div>
							<p>
																								<i class="fa fa-floppy-o" title="Attachment(s)"></i>								by <a href="./memberlist.php?style=6&amp;mode=viewprofile&amp;u=2&amp;sid=33c7bf04e121ab68179c7d40f620857b" style="color: #AA0000;" class="username-coloured">Gramziu</a>, 24 Feb 2015, 21:50
															</p>

													</div>
					</div>
					<div class="topic-stats">
						<span class="topic-replies">0 <dfn>Replies</dfn></span><br><span class="topic-views">40325 <dfn>Views</dfn></span>
					</div>
					<div class="topic-recent">
						<span class="re-md">Last post by</span>
						<a href="./memberlist.php?style=6&amp;mode=viewprofile&amp;u=2&amp;sid=33c7bf04e121ab68179c7d40f620857b" style="color: #AA0000;" class="username-coloured">Gramziu</a><span class="lastpostavatar"><img class="avatar" src="./download/file.php?avatar=2_1424820906.png" width="30" height="30" alt="User avatar" /></span>
						<br>
						<a href="./viewtopic.php?style=6&amp;f=2&amp;t=2&amp;p=2&amp;sid=33c7bf04e121ab68179c7d40f620857b#p2" title="Go to last post">
							24 Feb 2015, 21:50
						</a>
					</div>

					
				</li>

				
			
		
							</ol>
			</li>
			
						<li class="forum-bg">
				<h3>
											Topics
									</h3>
				<ol>
			
				
				<li class="row">
										<div class="topic-icon topic_read" title="No unread posts"><div></div></div>
					<div class="topic-description">
						<div class="topic-description-inner">
														<h4><a href="./viewtopic.php?style=6&amp;f=2&amp;t=1&amp;sid=33c7bf04e121ab68179c7d40f620857b" class="topictitle" title="View topic">Welcome to phpBB</a></h4><div class="re-sm topic-stats-sm">0 Replies 18060 Views</div>
							<p>
																																by <a href="./memberlist.php?style=6&amp;mode=viewprofile&amp;u=2&amp;sid=33c7bf04e121ab68179c7d40f620857b" style="color: #AA0000;" class="username-coloured">Gramziu</a>, 24 Feb 2015, 20:20
															</p>

													</div>
					</div>
					<div class="topic-stats">
						<span class="topic-replies">0 <dfn>Replies</dfn></span><br><span class="topic-views">18060 <dfn>Views</dfn></span>
					</div>
					<div class="topic-recent">
						<span class="re-md">Last post by</span>
						<a href="./memberlist.php?style=6&amp;mode=viewprofile&amp;u=2&amp;sid=33c7bf04e121ab68179c7d40f620857b" style="color: #AA0000;" class="username-coloured">Gramziu</a><span class="lastpostavatar"><img class="avatar" src="./download/file.php?avatar=2_1424820906.png" width="30" height="30" alt="User avatar" /></span>
						<br>
						<a href="./viewtopic.php?style=6&amp;f=2&amp;t=1&amp;p=1&amp;sid=33c7bf04e121ab68179c7d40f620857b#p1" title="Go to last post">
							24 Feb 2015, 20:20
						</a>
					</div>

					
				</li>

				
							</ol>
			</li>
			
		
	</ol>

	
	</div>
	</div>

		<div class="main-sidebar">
					<div class="sidebar-block">
				<h5 class="sidebar-head">Only on ThemeForest</h5>
				<div class="sidebar-body"><a href="https://themeforest.net/item/ravaio-modern-responsive-phpbb-forum-theme/13123186?ref=Gramziu"><img src="http://gramziu.pl/images/buy_it.png" style="border-radius: 2px; display: block;"></a></div>
			</div>
					<div class="sidebar-block">
				<h5 class="sidebar-head">Theme variants</h5>
				<div class="sidebar-body"><form method="post" id="theme-variants"></form></div>
			</div>
					<div class="sidebar-block">
				<h5 class="sidebar-head">LTR and RTL</h5>
				<div class="sidebar-body"><a href="http://gramziu.pl/phpBB/?style=6&language=en" style="display: block; width: 100%; border-radius: 2px; padding: 6px 18px; background-color: rgba(0, 0, 0, 0.06); text-align: center;">LTR</a>
<a href="http://gramziu.pl/phpBB/?style=6&language=ar" style="display: block; width: 100%; border-radius: 2px; padding: 6px 18px; background-color: rgba(0, 0, 0, 0.06); text-align: center; margin-top: 9px;">RTL</a></div>
			</div>
					<div class="sidebar-block">
				<h5 class="sidebar-head">Recent topics</h5>
				<div class="sidebar-body"><div id="sidebar-recent-topics" class="loading"></div></div>
			</div>
			</div>

	</div>
	<div class="chunk">

					<div class="action-bar-bottom-nb">
									<div class="buttons">
						
						<a href="./posting.php?style=6&amp;mode=post&amp;f=2&amp;sid=33c7bf04e121ab68179c7d40f620857b" class="button icon-button post-icon" title="Post a new topic">
							<i class="fa fa-pencil"></i><span>New Topic</span>						</a>

											</div>
				
				<div class="pagination">
					1 topic
				</div>
			</div>
		
		
	<p class="jumpbox-return"><a href="./index.php?style=6&amp;sid=33c7bf04e121ab68179c7d40f620857b" accesskey="r"><i class="fa fa-chevron-left"></i>Return to Board Index</a></p>

	<div class="dropdown-up" id="jumpbox">
		<span title="Jump to" data-toggle="dropdown" class="button">
			<i class="fa fa-sitemap"></i><span>Jump to</span>
		</span>
		<ul class="dropdown-box">
														<li><a href="./viewforum.php?style=6&amp;f=1&amp;sid=33c7bf04e121ab68179c7d40f620857b">Main</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=2&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Informations</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=3&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;General examples</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=5&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Gramziu themes on ThemeForest</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=6&amp;sid=33c7bf04e121ab68179c7d40f620857b">Themes</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=7&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Hawiki</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=8&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Ariki</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=9&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Anami</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=10&amp;sid=33c7bf04e121ab68179c7d40f620857b">Examples</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=11&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Forum with long description</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=12&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Forum with long description and subforums</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=13&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;-&nbsp; &nbsp; &nbsp;First subforum</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=14&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;-&nbsp; &nbsp; &nbsp;Second subforum</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=16&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Locked forum with short description</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=17&amp;sid=33c7bf04e121ab68179c7d40f620857b">-&nbsp; &nbsp; &nbsp;Locked forum with short description and moderator</a></li>
												<li><a href="./viewforum.php?style=6&amp;f=4&amp;sid=33c7bf04e121ab68179c7d40f620857b">Other</a></li>
							</ul>
	</div>

	</div>
	</div>
</div>